/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --primary: #56C5D0;
  --primary-2: #4DB1BB;
  --primary-3: #459EA6;
  --primary-4: #34767D;
  --primary-5: #224F53;
  --primary-6: #11272A;

  --svg-primary: invert(67%) sepia(59%) saturate(379%) hue-rotate(137deg) brightness(96%) contrast(84%);
  --svg-primary-2: invert(52%) sepia(95%) saturate(243%) hue-rotate(137deg) brightness(100%) contrast(90%);
  --svg-primary-3: invert(61%) sepia(10%) saturate(1919%) hue-rotate(137deg) brightness(89%) contrast(88%);
  --svg-primary-4: invert(44%) sepia(11%) saturate(1745%) hue-rotate(137deg) brightness(89%) contrast(91%);
  --svg-primary-5: invert(24%) sepia(6%) saturate(4485%) hue-rotate(137deg) brightness(96%) contrast(84%);
  --svg-primary-6: invert(11%) sepia(7%) saturate(3529%) hue-rotate(139deg) brightness(91%) contrast(91%);

  --secondary: #AE385B;
  --secondary-2: #9D3252;
  --secondary-3: #8B2D49;
  --secondary-4: #682237;
  --secondary-5: #461624;
  --secondary-6: #230B12;

  --svg-secondary: invert(29%) sepia(31%) saturate(2407%) hue-rotate(305deg) brightness(94%) contrast(89%);
  --svg-secondary-2: invert(24%) sepia(19%) saturate(4572%) hue-rotate(309deg) brightness(95%) contrast(87%);
  --svg-secondary-3: invert(23%) sepia(78%) saturate(770%) hue-rotate(298deg) brightness(91%) contrast(95%);
  --svg-secondary-4: invert(17%) sepia(16%) saturate(5243%) hue-rotate(307deg) brightness(90%) contrast(92%);
  --svg-secondary-5: invert(12%) sepia(26%) saturate(2698%) hue-rotate(305deg) brightness(90%) contrast(96%);
  --svg-secondary-6: invert(5%) sepia(30%) saturate(3295%) hue-rotate(311deg) brightness(97%) contrast(97%);

  --svg-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
